/*--------------------main attributes-----------------------*/
*{
	margin: 0px;
	padding: 0px;
	font:Tahoma;
}
header, section, nav, footer{
	display:block;
}
/*---------------------general body-------------------------*/
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	text-align:center;
	-webkit-border-radius:10px;
	-webkit-font-smoothing: antialiased;
}
/*------------------Inside the body box---------------------*/
#big_wrapper{
	max-width:1000px;
	height:auto;
	margin: 20px auto;
	background: green;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-ordinal-group: 1;
	-webkit-box-align:justify;
	-webkit-box-pack:center;
	-webkit-border-radius:10px;
	/*-webkit-box-flex: 1;
	/*background of all below the menu bar*/
}
/*---------------------Banner site--------------------------*/
#top_header{
	background: yellow;
	border: 3px solid blue;
	padding: 20px;
	-webkit-border-radius:10px;
	display:-webkit-box;
	-webkit-box-flex: 1; 
	/*-webkit-box-align:stretch;*/
}
/*-----------------------Banner-----------------------------*/
#banner{
	-webkit-border-radius:10px;
	-webkit-box-shadow:rgba(146,42,43,.7) 0px 3px 8px;
}
/*-----------------navagation menu holder-------------------*/
#top_menu {
	list-style:none;
	border:red;
	background:green;
	color:yellow;
	padding:10px;
	/*-webkit-box-shadow:rgba(100,100,100) 2px 7px 18px;
	/*-webkit-box-orient:horizontal;
	-webkit-box-align:center;
	/*-webkit-border-radius:10px;*/
}
/*-------------------navagation menu------------------------*/
#top_menu li{
	/*verticle display of navagation buttons*/
	display:inline-block;
	list-style:none;
	color: yellow;
	padding:5px;
	-webkit-font-smoothing: antialiased;
	font:bold 18px Tahoma;
	border:1px solid #999999;
	-webkit-border-radius:3px;
	-webkit-box-shadow:rgba(146,42,43,.5) 2px 3px 10px;
	-webkit-transition: -webkit-transform 1s, background 1s, color 1s, opacity 1s;
}
/*--------------------menu nav font-------------------------*/
#button{
	color:yellow;
}
/*-------------for hover to indicate button-----------------*/
#top_menu li:hover{
	/*color:red;*/
	background:-webkit-linear-gradient(top,black,red);
	color:yellow;
	opacity:0.8;
	-webkit-transform:scale(1.1);
}
/*-----------this is the stuff below the menu bar-----------*/
#main_section{
	/*border:1px solid #999999;*/
	margin: 10px;
	padding: 10px;
	font-family:Tahoma;
	-webkit-transform:translate(20px,auto);/*moves main content*/
	-webkit-border-radius:10px;
	-webkit-box-ordinal-group: 3;
	-webkit-box-flex: 1;
	-webkit-font-smoothing: antialiased;
	/*-webkit-box-orient: horizontal;*/	
}
/*--------------------links holder--------------------------*/
#links{
		display:inline-block;
		list-style:none;
		padding:5px;
		font:bold 18px Tahoma;
		border:1px solid #999999;
		-webkit-border-radius:3px;
		-webkit-box-shadow:rgba(146,42,43,.5) 2px 3px 10px;
		-webkit-transition: -webkit-transform 1s, background 1s, color 1s, opacity 1s;
}
/*---------------------links nav----------------------------*/
#link_list{
		color:yellow;
		text-align:left;
			padding:5px;
			font:bold 18px Tahoma;
		list-style:none;
	-webkit-box-ordinal-group: 3;
}
/*-----------------bottom of page footer--------------------*/
#footer{
	clear:both;
	text-align:center;
	font:Tahoma;
	-webkit-font-smoothing: antialiased;
	padding:20px;
	color:white;
	background:black;
	-webkit-box-ordinal-group: 4;
	border-top: 2px solid #999999;
}
/*---------------------copyright----------------------------*/
#copyright{
	font: 10px Tahoma;
	-webkit-font-smoothing: antialiased;
}