#parent{
	border: 2px solid blue;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	
	-webkit-box-align:stretch;
	-webkit-box-pack:center;
	-webkit-border-radius:10px;
	-webkit-box-shadow:rgb(100,100,100) 10px 10px 18px;
}
#kid1{
	border: 2px solid red;
	background: green;
	padding:20px;
	color:white;
	margin: 10px;
	opacity:0.6;
	-webkit-border-radius:5px;
	-webkit-box-flex: 1;
	-webkit-transition: -webkit-transform 2s,opacity 2s, background2s, width, 2s, height 2s;
}
#kid1:hover{
	-webkit-transform:rotate(360deg);
	opacity: 1;
	background:blue;
	width:450;
	height:110px;
}
#kid2{
	border: 2px red;
	background: yellow;
	padding:20px;
	color:blue;
	margin: 10px;
	opacity:0.6;
	-webkit-border-radius:5px;
	-webkit-box-flex: 1;
	-webkit-transition: -webkit-transform 2s,opacity 2s, background2s, width, 2s, height 2s;
}
#kid2:hover{
	-webkit-transform:rotate(360deg);
	opacity: 1;
	background:blue;
	width:450;
	height:110px;
}
#kid3{
	border: 2px red;
	background: red;
	padding:20px;
	color:white;
	margin: 10px;
	opacity:0.6;
	-webkit-border-radius:5px;
	-webkit-box-flex: 1;
	-webkit-transition: -webkit-transform 2s,opacity 2s, background2s, width, 2s, height 2s;
}
#kid3:hover{
	-webkit-transform:rotate(360deg);
	opacity: 1;
	background:blue;
	width:450;
	height:110px;
}
#kid4{
	border: 2px red;
	background: orange;
	padding:20px;
	color:white;
	margin: 10px;
	opacity:0.6;
	-webkit-border-radius:5px;
	-webkit-box-flex: 1;
	-webkit-transition: -webkit-transform 2s,opacity 2s, background2s, width, 2s, height 2s;
}
#kid4:hover{
	-webkit-transform:rotate(360deg);
	opacity: 1;
	background:blue;
	width:450;
	height:110px;
}